.floorplan {
  min-height: 374px;
}

.room {
  cursor: pointer;
  fill: khaki;
  opacity: .4;
  stroke: none;
  transition: .1s all;
  &:hover, &.selected {
    fill: yellow;
  }
  &:active {
    fill: red;
  }
  &_small {
    fill: transparent;
  }
}

.floorlist {
  column-gap: 100px;
  column-width: 150px;
  list-style: none;
  margin: 20px 0;
  -webkit-column-gap: 100px;
  -webkit-column-width: 150px;
  &__item {
    cursor: pointer;
    display: inline-block;
    &:hover, &.selected {
      color: #d30;
      text-decoration: underline;
    }
  }
}