body {
  font-family: 'Noto Sans', Arial, sans-serif;
  font-size: 14px;
}

.header, .main, .footer {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 600px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

.header__title {
  font-size: 24px;
  margin: 15px 0 20px;
}

.menu {
  border-bottom: 1px solid #666;
  margin-bottom: 30px;
  padding: 0;
  &__item {
    background-color: #ccc;
    border: 1px solid #666;
    border-radius: 7px 7px 0 0;
    color: #000;
    display: inline-block;
    margin: 0 0 -1px 15px;
    padding: 7px 20px;
    text-decoration: none;
    transition: .1s all;
    &:hover {
      background-color: #fff;
    }
    &.selected {
      background-color: #fff;
      border-bottom-color: #fff;
    }
  }
}